body
  padding: 0
  margin: 0

#wrapper
  display: flexbox

.sound
  padding: 5px
  border: 1px solid #ccc
  margin: 5px
  cursor: pointer
  border-radius: 5px
  background-color: white
  &:active
    background: black
    color: white

