body
  padding: 0
  margin: 0

#wrapper
  display: flexbox
  width: 1024px
  margin: 0 auto
  background-image: url('public/pic/bg1.png')
  background-position: bottom right
  background-repeat: no-repeat
  height: 100vh
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
  padding: 0 10px
  box-sizing: border-box
  position: relative

.sound
  padding: 5px
  border: 1px solid #ccc
  margin: 5px
  cursor: pointer
  border-radius: 5px
  background-color: white
  &:active
    background: black
    color: white

#loading
  position: absolute
  left: 0
  bottom: 0
  margin: 10px